

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Редактирование категории</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <%= semantic_form_for @footer_section, :url => admin_footer_section_update_path(@footer_section) , :html => { :class => "form-horizontal"} do |f| %>
                    <p>Введите пустые поля</p>
                    <div class="form-group">
                    <%= f.label  :order , "Порядок" , class: "col-lg-12"%>
                        <div class="col-lg-12"><%= f.text_field :order, class: 'form-control' %><span class="help-block m-b-none">Введите порядоковый номер</span>
                        </div>
                    </div>
                    <div class="form-group">
                    <%= f.label  :text , "Описание" , class: "col-lg-12"%>
                        <div class="col-lg-12"><%= f.text_area :text, as: :summernote , class: "summernote"  %><span class="help-block m-b-none">Введите описание категории</span>
                        </div>
                    </div>

                      <%= f.label :see_all , "Виден гостям?" %>
                      <%= f.check_box :see_all%>

                      <%= f.label :visible , "Виден?"%>
                      <%= f.check_box :visible%>
                    
                    <div class="form-group">
                        <div class="col-lg-12">
                          <%= f.submit  "Изменить блок футера" , :class => "btn btn-sm btn-primary"  %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>