<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<table width="100%" cellspacing="0" cellpadding="28" border="0">
  <tbody>
    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
      <td align="center" width="100%" style="padding-left:0;padding-right:0;margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
        <table width="700" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
              <td width="700" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                <table width="700" cellspacing="0" cellpadding="0" border="0" style="padding-bottom:11px">
                  <tbody>
                    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                      <td width="150" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">&nbsp;</td>
                      <td width="400" align="center" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                        <a href="https://yourhm.com.ua" style="color:#000000" target="_blank">
                          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 488.57 267.77"><defs><style>.cls-1{fill:#f02;}</style></defs><title>yourhm</title><path class="cls-1" d="M740.83,542.83s33.33-2.17,41.33,17c0,0-34.5,111.17-30.5,97.17,0,0,18-1.33,18-.17,0,0,2,.79-4.12,4.92s-2.67.5-9.37,6.08l-.54,1.13-.25,3.25s-1,3.46-2.67,4.33-3.17,2.54-8.58,3.75L717.67,761.5s-1.17,8.83-6.67,10.17-43.33-4-42.5-13c0,0,12-43.67,20.67-68.17l-58,7s-22.5,72.5-30.67,74.67c0,0-15.83,1-18.17.67,0,0-2.71,1.54-2-7.46l24.13-67.12s-42,.88-50.87-5.87c0,0-.88-.18.47-1.87,0,0,4.81-2.31,5.09-4.94s-2.53-3.41-2.53-3.41l56.51-8,45.08-122.42s2.06-3.75,4.5-4.19,12.69-.69,15.31,2.31,1.75,13.06,1.06,13.75S641,670.5,641,670.5l57.5-7.25Z" transform="translate(-553.34 -524.69)"></path><path class="cls-1" d="M779.38,706.5s-5.37,19.13-6,19.38-1.25,3.38-2.5,3.25-9.25.75-13.25-1.62a5,5,0,0,1-2.25-4.75l5.25-15.87s-11.69.44-19.19-4.31c0,0,.19-2.27,20.69-1.63h.13l5.81-19.16s1.44-4.16,3.38-5.28,13.38,3.34,14.28,6.38-4.72,17.44-4.25,17.5,5.25,0,5.25,0,11.47,3.06,11.78,4.81-18,.69-18.94,1Z" transform="translate(-553.34 -524.69)"></path><path class="cls-1" d="M771.33,462.17" transform="translate(-553.34 -524.69)"></path><path class="cls-1" d="M787.75,780.83s7.58,14.08,10.67,11.25,15.92-26.42,15.92-26.42L836,726.5l42-80.17L863.17,724.5l-7.5,43.67s.67,1.83,1.67,2.17-2.5,2.83,23.33,7.33c0,0,18.17.67,20.17-1s2.83-.5,5-5.67,77.42-146.25,76.42-146.25S958.5,780.5,958.5,780.5s1.13,6.81,8,8.63,17.13,1.44,25.25.19c0,0,4.44-2.06,4.69-6.37l9.19-46.5,15.25-78.56,16.88-89.12,3.63-21.25.33-3.92.21-8.46-.17-8.69s-1.12-2.87-14.44-1.25-29,4.69-29,4.69-1.94.06-5.87,8.69L925,665.75l19.33-111.08,1-16s-2.67-10.5-43.83-1.17c0,0-4.12.06-6.62,7.63L868,598.63l-37.75,81.13-41.92,93.08S787.44,778.54,787.75,780.83Z" transform="translate(-553.34 -524.69)"></path><path class="cls-2" d="M878.33,863.67" transform="translate(-553.34 -524.69)"></path></svg>
                        </a>
                      </td>
                      <td width="150" align="center" style="margin-top:0;margin-bottom:0;color:#939393;line-height:1.36;text-decoration:none;font-size:10px"></td>
                    </tr>
                  </tbody>
                </table>
                <table width="700" cellspacing="0" cellpadding="0" border="0" style="border-bottom:1px solid #c8c8c8">
                  <tbody>
                    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                      <td align="center" width="700" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                        <table width="670" cellspacing="0" cellpadding="16" border="0" style="padding:0 0 16px 0">
                          <tbody>
                            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px;text-align:center;display:block">
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="https://yourhm.com.ua/products/women" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank">
                                  <span style="color:#000000">ЖЕНЩИНЫ</span>
                                </a>
                              </td>
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="https://yourhm.com.ua/products/men" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank">
                                  <span style="color:#000000">МУЖЧИНЫ</span>
                                </a>
                              </td>
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="https://yourhm.com.ua/products/children" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank">
                                  <span style="color:#000000">ДЕТИ</span>
                                </a>
                              </td>
                              <td width="90" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;display:inline-block;width:auto;padding:16px 16px 0 16px;text-align:center">
                                <a href="https://yourhm.com.ua/products/home" style="color:#000!important;font-weight:bold;font-size:12px;text-decoration:none;letter-spacing:1px;white-space:nowrap;text-transform:uppercase" target="_blank">
                                  <span style="color:#000000">ДЛЯ ДОМА</span>
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table width="700" cellspacing="0" cellpadding="54" border="0">
                  <tbody>
                    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                      <td width="700" align="center" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                        <table width="500" cellspacing="0" cellpadding="0" border="0">
                          <tbody>
                            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                              <td align="center" width="500" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                                <h1 style="margin-top:0;margin-bottom:0;padding-bottom:11px;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:46px;font-weight:bold;line-height:40px;color:#000000;text-transform:uppercase">Привет, <%= @user.first_name %></h1>
                              </td>
                            </tr>
                            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                              <td align="center" width="500" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                                <p style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-bottom:4px">
                                  Благодарим Вас за шоппинг с H+M. Мы получили ваш заказ и свяжемся с вами, для подтверждения покупки. Ниже приведена подробная информация о Вашем заказе. 
                                  <%if @campaing%>
                                    Это ваш первый заказ и мы дарим Вам скидку в размере <%= @campaing.value %> % на следующие покупки. Впереди Вас ждет еще больше, акций, бонусов и подарков!<br>
                                    Скидочный код: <%= @campaing.code %>
                                  <%end%>
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="700" cellspacing="0" cellpadding="0" border="0" style="border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;background-color:#f8f8f8">
          <tbody>
            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
              <td width="30" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-top:14px;padding-bottom:12px">&nbsp;</td>
              <td width="670" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1;font-size:16px;font-weight:bold;text-transform:uppercase;padding-top:14px;padding-bottom:12px">Информация о заказе</td>
            </tr>
          </tbody>
        </table>
        <% if @order %>
        <table width="700" cellspacing="0" cellpadding="20" border="0">
          <tbody>
            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
              <td width="660" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                <table width="660" cellspacing="0" cellpadding="0" border="0">
                  <tbody>
                    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                      <td width="10" valign="top" style="margin-top:0;margin-bottom:0;color:#000000;line-height:17px">&nbsp;</td>
                      <td width="320" valign="top" style="margin-top:0;margin-bottom:0;color:#000000;line-height:17px"> <strong style="font-weight:bold;text-transform:uppercase">НОМЕР ЗАКАЗА</strong>
                        <br>
                        <%= @order.get_order %>
                        <br>
                        <br style="line-height:19px"> <strong style="font-weight:bold;text-transform:uppercase">ДАТА ЗАКАЗА</strong>
                        <br>
                        <%= @order.created_at %>
                        <br>
                        <br style="line-height:19px">
                        <strong style="font-weight:bold;text-transform:uppercase">ИМЯ</strong>
                        <br>
                       	<%= @order.user.first_name + ' ' + @order.user.second_name%>
                        <br>
                        <br style="line-height:19px">
                        <strong style="font-weight:bold;text-transform:uppercase">EMAIL</strong>
                        <br>
                        <span style="text-decoration:none!important;color:#000!important">
                          <a href="mailto:<%= @order.user.email %>" target="_blank"><%= @order.user.email %></a>
                        </span>
                        <br>
                      <td width="330" valign="top" style="margin-top:0;margin-bottom:0;color:#000000;line-height:17px">
                        <br style="line-height:19px">
                        <strong style="font-weight:bold;text-transform:uppercase">СПОСОБ ОТПРАВКИ</strong>
                        <br>
                        Отправка НОВОЙ ПОЧТОЙ
                        <br>
                        <br style="line-height:19px">
                        <strong style="font-weight:bold;text-transform:uppercase">АДРЕС ОТПРАВКИ</strong>
                        <%= @order.address %>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
		<% end %>
        <table width="700" cellspacing="0" cellpadding="0" border="0" style="border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;background-color:#f8f8f8">
          <tbody>
            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
              <td width="30" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-top:14px;padding-bottom:12px">&nbsp;</td>
              <td width="320" valign="top" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1;font-size:16px;font-weight:bold;text-transform:uppercase;padding-top:14px;padding-bottom:12px">Время доставки</td>
              <td width="320" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-top:14px;padding-bottom:12px;font-weight:bold">
                Доставка в течение 10-14 дней с момента подтверждения заказа
                <br></td>
              <td width="30" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-top:14px;padding-bottom:12px">&nbsp;</td>
            </tr>
          </tbody>
        </table>

        <table width="700" cellspacing="0" cellpadding="7" border="0" style="text-align:right">
          <tbody>
            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
              <th width="9" align="left" valign="middle" style="width:9px;border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">&nbsp;</th>
              <th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">АРТИКУЛ</th>
              <th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">НАЗВАНИЕ</th>
              <th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">РАЗМЕР</th>
              <th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">ЦВЕТ</th>
              <th align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">КОЛЛИЧЕСТВО</th>
              <th width="65" align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">ЦЕНА</th>
              <th width="65" align="left" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold;text-transform:uppercase">СКИДКА</th>
              <th align="right" valign="middle" style="border-bottom:1px solid #c8c8c8;padding-top:12px;padding-bottom:12px;text-align:right;font-weight:bold;text-transform:uppercase">ИТОГОВАЯ ЦЕНА</th>
              <th width="9" align="left" valign="middle" style="width:9px;border-bottom:1px solid #c8c8c8;text-transform:uppercase;padding-top:12px;padding-bottom:12px;text-align:left;font-weight:bold">&nbsp;</th>
            </tr>
            <% if @order.orders_product_data %>
              <% @order.orders_product_data.each do |opd| %>
                <% if opd and  opd.product_datum%>
                  <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
                    <td width="9" align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;width:9px;border-bottom:1px solid #c8c8c8">&nbsp;</td>
                    <td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_datum.article%></td>
                    <td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_datum.product.name%></td>
                    <td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_size.size%></td>
                    <td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_datum.color.name%></td>
                    <td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%= opd.count %></td>
                    <td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8"><%=opd.product_datum.get_price%> Грн</td>
                    <td align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8">
                    <%if opd.product_datum.get_promotional_price > 0%>
                      <%=opd.product_datum.get_promotional_price-opd.product_datum.get_price%> Грн
                    <%else%>
                      &nbsp;
                    <%end%>
                    </td>
                    <td align="right" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;border-bottom:1px solid #c8c8c8;text-align:right">
                    <%if opd.product_datum.get_promotional_price > 0%>
                      <%=opd.product_datum.get_promotional_price%>
                    <%else%>
                      <%=opd.product_datum.get_price%>
                    <%end%>
                     Грн</td>
                    <td width="9" align="left" valign="middle" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;width:9px;border-bottom:1px solid #c8c8c8">&nbsp;</td>
                  </tr>
                <%end%>
              <%end%>
            <%end%> 
          </tbody>
        </table>
        <br style="line-height:20px">
        <table width="700" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
              <td width="390" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">&nbsp;</td>
              <td width="285" align="left" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                <table width="285" align="right" cellspacing="0" cellpadding="0" border="0" style="text-transform:uppercase">
                  <tbody>
                    <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:11px">
                      <td style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px">ИТОГОВАЯ ЦЕНА</td>
                      <td align="right" style="margin-top:0;margin-bottom:0;color:#000000;line-height:16px"><%= @order.sum %> грн</td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="25">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <br style="line-height:20px">
        <br style="line-height:40px">
          <table width="700" cellspacing="0" cellpadding="27" border="0" style="border-top:1px solid #c8c8c8">
            <tbody>
              <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
                <td width="700" align="center" style="padding-bottom:0;margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                  <table width="600" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr style="font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px">
                        <td align="center" width="600" style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36">
                          <p style="margin-top:0;margin-bottom:0;color:#000000;line-height:1.36;padding-bottom:21px">
                            <br>
                             В случае возникновения вопросов Вы можете звонить нам по номеру <a href="tel:0800211528"> 0 800 211 528</a> или пишите на <a href="mailto:info@yourhm.com.ua">info@yourhm.com.ua</a>
                             Просматривайте информацию и статус заказа в Вашем&nbsp;<a style="color:#000000" href="https://yourhm.com.ua/my-overview">личном кабинете</a>
                            <br>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
      </td>
    </tr>
  </tbody>
</table>
  </body>
</html>